body {
  margin: 0;
}

h1 {
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
  margin-top: 330px;
  padding: 20px;
  margin: 0 30px;
}

.range, .assault, .melee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: 1px solid grey;
}

.zone {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}